## [Home](file:///C:/SQLScriptsLibrary/Home.ipynb)

## Database Infomation

> - List all databases as a single line, comma seperated (Query 1)

## [Home](file:///C:/SQLScriptsLibrary/Home.ipynb)

In [3]:
/* List of databases single line.sql  #SQL */

;WITH Cte (Servername,DatabaseName)
AS
( 
SELECT @@ServerName AS ServerName, COALESCE(Name,'') FROM
sys.Databases
where name not in('master','tempdb','model','msdb','dbatools')
)
,cte_databases
AS
(
SELECT  ServerName , STUFF(( SELECT ',' +  DatabaseName
FROM Cte  t1

ORDER BY 1  
FOR XML PATH('')
),1,1,'') AS Databases
FROM Cte t2
)

SELECT distinct * FROM cte_databases
go

ServerName,Databases
JURGEN,"AdventureWorks2019,MIH"