## [Home](file:///C:/SQLScriptsLibrary/Home.ipynb)

## What Queries
> -   Some Stuff (Query 1)
>   - More Stuff (Query 2)
>   - Some Info
>       - More Info- (Query 3.1)
>       - Even More Info IP - (Query 3.2)

## [Home](file:///C:/SQLScriptsLibrary/Home.ipynb)

In [ ]:
-- List of databases single line.sql  #SQL
USE MAX

;WITH Cte (Server,DatabaseName,Edition, Version)
AS
( SELECT DISTINCT ServerInstanceName, DatabaseName, Edition, Version
  FROM ServersandDatabases
  WHERE 1=1 
 AND DatabaseName NOT IN ('master','tempdb','msdb','model')
 
  UNION 
  SELECT DISTINCT ServerInstanceName, '', Edition, Version
  FROM ServersandDatabases
)
,cte_databases
AS
(
SELECT  Server, Edition, Version , STUFF(( SELECT ',' +  DatabaseName
FROM Cte  t1
WHERE t1.server = t2.Server
ORDER BY 1  
FOR XML PATH('')
),1,1,'') AS Databases
FROM Cte t2
)

SELECT SERVER
	,Edition
	,Version
	,COUNT(*) - 1 AS Total
	,CASE 
		WHEN LEN(Databases) = 0
			THEN ''
		ELSE RIGHT(Databases, (LEN(Databases) - 1))
		END

FROM CTe_databases
WHERE Server in
 (
	'server names'
)


GROUP BY SERVER
	,Edition
	,Version
	,CASE 
		WHEN LEN(Databases) = 0
			THEN ''
		ELSE RIGHT(Databases, (LEN(Databases) - 1))
		END